{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} Jqery {% endcomment %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Source+Sans+3:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-p4V0o6Y1M5pHcJZQ70pQ1Tt6D1oN0xteEJ2LMzRj3d3zFY9rJ1q0GQwqY3l8m2W7Pp7u2T0Ax7YH4xkR0XQG5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

     <!-- SWEETALERT CSS -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- SWEETALERT JS -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>

    <meta name="referrer" content="np-referrer-when-downgrade">



    <style>
    *{
        font-family:'Roboto', sans-serif;
    }
    a{
        text-decoration:none;
        color:black;
    }
    .product-viewtag{
        background-color:red;
        color:#fff;
        font-size:11px;
        line-height:1;
        position:absolute;
        text-align:center;
        text-transform:uppercase;
        top:22px;
        margin-left:17.5rem;
        padding:7px 10px;
        font-weight:600;
        min-width:45px;
    }
</style>
</head>

<body>
{% include 'store/inc/navbar.html' %}
<form id="csrf-token-form" class="d-none">{% csrf_token %}</form>

<datalist id="search-suggestions">
    {% for name in nav_products %}
    <option value="{{ name }}"></option>
    {% endfor %}
</datalist>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

<script>
    alertify.set('notifier','position', 'top-right');
    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
</script>

{% block content %}
{% endblock %}

{% include 'store/inc/footer.html' %}



{% comment %} checkout js {% endcomment %}
<script src="{% static 'js/checkout.js' %}"></script>


{% comment %} Custom {% endcomment %}
<script src="{% static 'js/custom.js' %}"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/672dac8b4304e3196adf3449/1ic56k0fk';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}
</body>
